





<form action="/cart/add" method="post" enctype="multipart/form-data" >

                <!--product variants-->
                {% unless product.has_only_default_variant %}

                    {% for option in product.options_with_values %}

                        <div class="single-product__option-wrapper js Product-variants">

                            {% assign option-name = option.name | downcase %}

                            <div class="js-single-product-option-{{ option-name }} single-product-option-{{ option-name }}"
                                 id="SingleOptionSelector-{{ forloop.index0 }}">

                                {% for value in option.values %}

                                    {% assign product-handle = product.handle %}

                                    {% assign is_color = false %}

                                    {% assign stripped-value = value | split: ' ' | last | handle %}

                                    {% if option-name contains 'color' or option-name contains 'colour' %}

                                        {% assign is_color = true %}

                                    {% endif %}

                                    {% if is_color %}

                                       

                                        <label for="variant_{{ option-name }}-{{ product-handle }}-{{ forloop.index0 }}"
                                               class="single-product-option-{{ option-name }}__label color-swatch {% if stripped-value contains 'white' %}single-product-option-{{ option-name }}__label--white{% endif %}"
                                               >      
                                          
                                          
                                          <input type="radio" name="{{ option-name }}-{{ product-handle }}"
                                               class="single-option-selector color-swatch single-product-option-{{ option-name }}__input js-radio-button"
                                               data-single-option-selector
                                               data-index="option{{ option.position }}"
                                               value="{{ value | escape }}"
                                               data-color="{{ value | handleize }}"
                                               {% if option.selected_value == value %}checked="checked"{% endif %}  
                                               id="variant_{{ option-name }}-{{ product-handle }}-{{ forloop.index0 }}"/>
                                         
                                          <span class="swatch" style="background-color: {{ stripped-value }};"> </span>
                                         
								<input type= "hidden"  name="id" min="1" value="{{ product.variants.first.id }}" />
								<input type="hidden" id="quaninty" name="quantity" min="1" value="1" />
                                            

                                        </label>

                                  

                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>

                    {% endfor %}

                {% endunless %}
  
  
  
   {% for option in product.options %}
  
{%- assign swatch_file_extension = 'png' -%}

<div class="variant-wrapper js" data-type="button">
  
 

  <label class="variant__label{% if option.name == 'Default' or option.name == 'Title' %} hidden-label{% endif %}{% unless variant_labels %} hidden-label{% endunless %}"
    for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
    {{ option.name }}
    {%- if is_color -%}
      <span class="variant__label-info">
        &mdash;
        <span
          data-variant-color-label
          data-index="{{ forloop.index0 }}"
          data-option-index="{{ color_option_index }}">
          {{ option.selected_value }}
        </span>
      </span>
    {%- endif -%}
  </label>
  {%- assign option_index = forloop.index -%}
   {%- assign option_index_0 = forloop.index0 -%}
  <fieldset class="variant-input-wrap"
    name="{{ option.name }}"
    data-index="option{{ option_index }}"
    data-handle="{{ option.name | handleize }}"
    id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
    <legend class="hide">{{ option.name }}</legend>

{%- assign values = '' -%}
  {% for variant in product.variants %}
    {%- assign value = variant.options[option_index_0] -%}
  {% unless values contains value %}
      {%- assign values = values | join: ',' -%}
      {%- assign values = values | append: ',' | append: value -%}
      {%- assign values = values | split: ',' -%}
    
      {%- liquid
        assign product_available = true
        if product.options.size == 1
          assign product_available = product.variants[forloop.index0].available
        endif
      -%}

   


      <div
        class="variant-input"
        data-index="option{{ option_index }}"
        data-value="{{ value | escape }}">
        
        
        <input type="radio"
          form="{{ form_id }}"
          {% if option.selected_value == value %} checked="checked"{% endif %}
          value="{{ value | escape }}"
          data-index="option{{ option_index }}"
          name="{{ option.name }}"
          data-variant-input
          class="{% unless product_available %} disabled{% endunless %}{% if is_color %} variant__input--color-swatch{% endif %}"
          {% if is_color %} data-color-name="{{ value | escape }}"{% endif %}
          {% if is_color %} data-color-index="{{ color_option_index }}"{% endif %}
          id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}" data-preorder-dispatch="{{ product.metafields.Specs.Dispatch }}" data-preorder-quantity="20"
 			 data-variant-inventory-policy="{{ variant.inventory_policy }}" data-variant-quantity="{{variant.inventory_quantity}}" >
        {%- if is_color -%}
          {%- liquid
            assign color_file_name = value | handle | append: '.' | append: swatch_file_extension
            assign color_image = color_file_name | file_img_url: '50x50' | prepend: 'https:' | split: '?' | first
            assign color_swatch_fallback = value | split: ' ' | last | handle
          -%}
          <label
            for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
            class="variant__button-label color-swatch color-swatch--{{ value | handle }}{% unless product_available %} disabled{% endunless %}"
            style="background-color: {{ color_swatch_fallback }};{% if images[color_file_name] != blank %}  background-image: url({{ color_image }});{% endif %}"
          data-preorder-dispatch="{{ product.metafields.Specs.Dispatch }}" data-preorder-quantity="20" data-variant-inventory-policy="{{ variant.inventory_policy }}" data-variant-quantity="{{variant.inventory_quantity}}" >
            {{ value | escape }}
          </label>
        {%- else -%}
          <label
            for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
            class="variant__button-label{% unless product_available %} disabled{% endunless %}" data-preorder-dispatch="{{ product.metafields.Specs.Dispatch }}" data-preorder-quantity="20" data-variant-inventory-policy="{{ variant.inventory_policy }}" data-variant-quantity="{{variant.inventory_quantity}}" >{{ value | escape }}</label>
        {%- endif -%}
      </div>
         {% endunless %}
    {%- endfor -%}
  </fieldset>
</div>

  {% endfor %}

                <!--product add to cart-->
                <button
                        class="single-product__add-to-cart u-b6 js-ajax-add-to-cart"
                        type="submit"
                        name="add"
                        data-add-to-cart
                    >

                    <span data-add-to-cart-text>
                      
                           Add To Cart
                     
                    </span>

                </button>
                <!--end product add to cart-->

            </form>