<form method="post" action="/cart/add" enctype="multipart/form-data" >
   <!--product variants-->
   {% unless product.has_only_default_variant %}
   {% for option in product.options_with_values %}
   <div class="single-product__option-wrapper js Product-variants">
      {% assign option-name = option.name | downcase %}
      <div class="js-single-product-option-{{ option-name }} single-product-option-{{ option-name }}"
         id="SingleOptionSelector-{{ forloop.index0 }}">
        {% for variant in product.variants %}
    {%- assign value = variant.options[option_index_0] -%}
      {%- liquid
        assign product_available = true
        if product.options.size == 1
          assign product_available = product.variants[forloop.index0].available
        endif
      -%}
         {% assign stripped-value = value | split: ' ' | last | handle %}
         {% if option-name contains 'color' or option-name contains 'colour' %}
         {% assign is_color = true %}
         {% endif %}
         {% if is_color %}
         <label for="variant_{{ option-name }}-{{ product-handle }}-{{ forloop.index0 }}"
            class="single-product-option-{{ option-name }}__label color-swatch {% if stripped-value contains 'white' %}single-product-option-{{ option-name }}__label--white{% endif %}"
            >      
         <input type="radio" name="{{ option-name }}-{{ product-handle }}"
         class="single-option-selector color-swatch single-product-option-{{ option-name }}__input js-radio-button"
         data-single-option-selector
         {% if option.selected_value == value %}checked="checked"{% endif %}  
         id="variant_{{ option-name }}-{{ product-handle }}-{{ forloop.index0 }}"/>
         <span class="swatch" style="background-color: {{ stripped-value }};"> </span>
         </label>
         {% endif %}
         {% endfor %}
      </div>
   </div>
   {% endfor %}
   {% endunless %}
   <!--product add to cart-->
  <input type= "hidden"  name="id" min="1" value="{{ product.selected_or_first_available_variant.id }}" />
  <input type="hidden" id="quaninty" name="quantity" min="1" value="1" />
   <button
   class="single-product__add-to-cart u-b6 js-ajax-add-to-cart"
   type="submit"
   name="add"
   data-add-to-cart
   {% unless product.available %}disabled="disabled"{% endunless %}>
   <span data-add-to-cart-text>
   {% if product.available %}
   Add To Cart
   {% else %}
   Sold Out
   {% endif %}
   </span>
   </button>
   <!--end product add to cart-->
</form>