





<form action="/cart/add" method="post" enctype="multipart/form-data" >

                <!--product variants-->
                {% unless product.has_only_default_variant %}

                    {% for option in product.options_with_values %}

                        <div class="single-product__option-wrapper js Product-variants">

                            {% assign option-name = option.name | downcase %}

                            <div class="js-single-product-option-{{ option-name }} single-product-option-{{ option-name }}"
                                 id="SingleOptionSelector-{{ forloop.index0 }}">

                                {% for value in option.values %}

                                    {% assign product-handle = product.handle %}

                                    {% assign is_color = false %}

                                    {% assign stripped-value = value | split: ' ' | last | handle %}

                                    {% if option-name contains 'color' or option-name contains 'colour' %}

                                        {% assign is_color = true %}

                                    {% endif %}

                                    {% if is_color %}

                                       

                                        <label for="variant_{{ option-name }}-{{ product-handle }}-{{ forloop.index0 }}"
                                               class="single-product-option-{{ option-name }}__label color-swatch {% if stripped-value contains 'white' %}single-product-option-{{ option-name }}__label--white{% endif %}"
                                               >      
                                          
                                          
                                          <input type="radio" name="{{ option-name }}-{{ product-handle }}"
                                               class="single-option-selector color-swatch single-product-option-{{ option-name }}__input js-radio-button"
                                               data-single-option-selector
                                               data-index="option{{ option.position }}"
                                               value="{{ value | escape }}"
                                               data-color="{{ value | handleize }}"
                                               {% if option.selected_value == value %}checked="checked"{% endif %}  
                                               id="variant_{{ option-name }}-{{ product-handle }}-{{ forloop.index0 }}"/>
                                         
                                          <span class="swatch" style="background-color: {{ stripped-value }};"> </span>
                                         
								<input type= "hidden"  name="id" min="1" value="{{ product.variants.first.id }}" />
								<input type="hidden" id="quaninty" name="quantity" min="1" value="1" />
                                            

                                        </label>

                                  

                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>

                    {% endfor %}

                {% endunless %}
  
  
  
   {% for option in product.options %}
  
{% for option in product.options %}
  {% if option == swatch %}
    {%- assign found_option = true -%}
    {%- assign option_index = forloop.index0 -%}
    {%- assign downcased_option = swatch | downcase -%}

    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {%- assign is_color = true -%}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="swatch is-flex is-flex-wrap" data-option-index="{{ option_index }}">
  <div class="option_title">{{ swatch }}</div>

  {%- assign values = '' -%}

  {% for variant in product.variants %}
    {%- assign value = variant.options[option_index] -%}

    {% unless values contains value %}
      {%- assign values = values | join: ',' -%}
      {%- assign values = values | append: ',' | append: value -%}
      {%- assign values = values | split: ',' -%}

      <input id="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" aria-label="{{ value | escape }}" tabindex="0" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />

      <div tabindex="0"  value="{{ value | escape }}" data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element {% if is_color %}color{% endif %} {{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
        {% if is_color %}
          <div class="tooltip">{{ value }}</div>
        {% endif %}

        {% if is_color %}
          <label {% if variant.featured_image %}data-image="{{ variant.featured_image | product_img_url: '600x' }}"{% endif %} for="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};">
            
          </label>
     
        {% endif %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
  {% endfor %}

                <!--product add to cart-->
                <button
                        class="single-product__add-to-cart u-b6 js-ajax-add-to-cart"
                        type="submit"
                        name="add"
                        data-add-to-cart
                    >

                    <span data-add-to-cart-text>
                      
                           Add To Cart
                     
                    </span>

                </button>
                <!--end product add to cart-->

            </form>