





<form action="/cart/add" method="post" enctype="multipart/form-data" >


             

                    
								 
            

    {% for option in product.options %}
    {% if option contains 'Color' %}
    {% assign index = forloop.index0 %}
    {% assign colorlist = '' %}
    {% assign color = '' %}
    {% assign option_count = 0 %}
    {% for variant in product.variants %}
    {% capture color %}
    {{ variant.options[index] }}
    {% endcapture %}
    {% unless colorlist contains color %}
    {% assign text = color | handleize %}

    {% if option_count < 4 %}

        <div class="tooltip visually-hidden">
            {{color}}
        </div>

       
      
      
      
                                        <label data-value="{{ text }}" title="{{color}}" 
                                               class=" color-swatch " data-img="{{ variant.image.src | product_img_url: '800x' }}"
                                               >      
                                          
                                          
                                          <input type="radio" name="{{ option-name }}-{{ product-handle }}"
                                               class=" color-swatch  js-radio-button"
                                             
                                          value="{{ variant.id }}"
                                           
                                               {% if option.selected_value == value %}checked="checked"{% endif %}  
                                               id="variant--{{ forloop.index0 }}"/>
                                         
                                          <span class="swatch"  {%- if text == 'white' -%}border: 1px solid #d1d1d1; {%- endif -%}
      
         style=" background-color: {{ color | split: ' ' | last | handle }};"> </span>
                                         
								<input type="hidden" name="id" value="{{ variant.id }}" />
								<input type="hidden" id="quaninty" name="quantity" min="1" value="1" />
                                            

                                        </label>

      
      
      
      
      
      
      
      
      
      
      
        {% assign option_count = option_count | plus : 1 %}

    {% endif %}

    {% capture tempList %}
    {{ colorlist | append: color | append: ' ' }}
    {% endcapture %}

    {% assign colorlist = tempList %}
    {% endunless %}

    {% endfor %}
    {% endif %}
    {% endfor %}

    {% for product_option in product.options_with_values %}
    {% if product_option.name == 'Color' or product_option.name == 'Colour' %}
    {% if product_option.values.size > 4 %}
   
        <a href="{{ product.url}}" title="More Color">
            + {{ product_option.values.size | minus : 4 }}
        </a>
   
    {% endif %}
    {% endif %}
    {% endfor %}


  
  
  
                <!--product add to cart-->
                <button
                        class="add-to-cart "
                        type="submit"
                        name="add"
                        data-add-to-cart
                    >

                    <span data-add-to-cart-text>
                      
                           Add To Cart
                     
                    </span>

                </button>
          

            </form>