{% liquid
unless grid_item_width
assign grid_item_width = 'small--one medium--three full--four'
endunless
if product.compare_at_price > product.compare_at_price
assign sale = true 
endif 
%} 
<div class="product-item {{ grid_item_width }}">
   <div class="product-meta">
      <div class="product-image">
         {%- assign preview_image = product.featured_image -%}
         {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
         <img id="{{ img_id }}"
            src="{{ preview_image | img_url: '1x1' }}"
            class="blur-up lazyload"
            alt="{{ preview_image.alt }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ preview_image.aspect_ratio }}"
            data-sizes="auto"
            data-image>
      </div>
      <div class="product-des">
         <div class="product-title">{{ product.title }}</div>
        
      </div>
    
      <div class="color-option">
        
          {% form 'product', product  %}  
      {% for option in product.options %}
        <input type="hidden" id="quaninty" name="quantity" min="1" value="1" />
        {% render 'color-option',
          option: option,
          product: product
        %}
         {% endfor %}

        <button type="button" name="add" class="add_to_cart add-to-cart ajax-submit" data-label="Add to Cart"> <span class="text animated fadeInDown">Add to Cart</span> <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark"> <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path></svg></button> 
       {% endform %}
        
      </div>
   </div>
</div>

<script>
  $('.modal-toggle-{{product.id}}').on('click', function(e) {
  e.preventDefault();
  $('.modal-{{product.id}}').toggleClass('is-visible');
    
    
    
    
   
});
  
    $('.modal-close').on('click', function(e) {
  e.preventDefault();
  $('.modal-{{product.id}}').removeClass('is-visible');
    
    
    
    
   
});
     </script>