<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="">
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
      {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
      {%- endif -%}
      {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
       <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>
     <!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
      <title>
         {{ page_title }}
         {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
         {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
         {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      </title>
      {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
      {{ 'style.css' | asset_url | stylesheet_tag }}
      <!--Lazy Loading -->
      {{ "lazysize.min.js" | asset_url | script_tag }}
      <style>
         .blur-up {
         -webkit-filter: blur(5px);
         filter: blur(5px);
         transition: filter 400ms, -webkit-filter 400ms;
         }
         .blur-up.lazyloaded {
         -webkit-filter: blur(0);
         filter: blur(0);
         }
      </style>
      {{ content_for_header }}
     
   </head>
   <body >
     {%render 'cart-drawer'%}
     {%render 'header' %}
      <main >
         {{ content_for_layout }}
      </main>
    
        {%render 'Ajax-cart' %}

  
<script>
    var galleryElems = document.querySelectorAll('.main-carousel');
for ( var i=0, len = galleryElems.length; i < len; i++ ) {
  var galleryElem = galleryElems[i];
  new Flickity( galleryElem, {
  contain: false,
				prevNextButtons: true,
				freeScroll: true,
				wrapAround: true,
				cellAlign: 'left',
				autoplay: true,
				autoPlay: 3500,
				pageDots: true
     
  });
}
  
  document.addEventListener("shopify:section:load", function(event) {
	var galleryElems = document.querySelectorAll('.multi_slider');
	for (var i = 0, len = galleryElems.length; i < len; i++) {
		var galleryElem = galleryElems[i];
		new Flickity(galleryElem, {
           contain: false,
				prevNextButtons: true,
				freeScroll: true,
				wrapAround: true,
				cellAlign: 'left',
				autoplay: true,
				autoPlay: 3500,
				pageDots: true

		});
	}
});
     </script>

   </body>
</html>